#Page7{
   height: 50px;
   width: 100%;
   margin-top:4%;
   text-align: center;
}

#text7{
   font-size: 20px;
   font-family: 'Roboto',sans-serif;
   width: 100%;
   margin: 10px;
   text-align: center;
   
}
#picards7{
   height: 45%;
   width: 80%;
   margin: auto;
   display: grid;
   grid-template-rows: 100%;
   grid-template-columns: 24% 24% 24% 24%;
   
   justify-content: center;
   align-items: center;
}

#succesa , #succesb , #succesc , #succesd {

   margin:10px;
   padding:20px;
   height: 100%;
   width: 100%;
   
}